.buttonContainer {
  background-color: orange;
  padding: 10px;
  border-style: none;
  max-width: 150px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

.connector {
  padding-left: 10px;
}

.buttonContainer:hover {
  cursor: pointer;
}
